:root {
  --spacing-x-0: 0px;

  --spacing-x-1: 4px;
  --spacing-x-2: 8px;
  --spacing-x-3: 12px;
  --spacing-x-4: 16px;
  --spacing-x-5: 20px;
  --spacing-x-6: 24px;
  --spacing-x-7: 28px;
  --spacing-x-8: 32px;
  --spacing-x-9: 36px;
  --spacing-x-10: 40px;
  --spacing-x-11: 44px;
  --spacing-x-12: 48px;

  --spacing-x-14: 56px;
  --spacing-x-16: 64px;
  --spacing-x-18: 72px;
  --spacing-x-20: 80px;
  --spacing-x-24: 96px;
  --spacing-x-28: 112px;
  --spacing-x-32: 128px;
  --spacing-x-36: 144px;
  --spacing-x-40: 160px;
  --spacing-x-48: 192px;
  --spacing-x-56: 224px;
  --spacing-x-64: 256px;
}
